{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block 'page-title' %}Entrar{% endblock %}

{% block 'content' %}
   <div class="sidenav">
      <a href="{% url 'core:index' %}">
         <img class="logo" src="../media/logo.png">
      </a>
      <div class="main">
         <div class="col-md-2 col-sm-2">

            {% include 'includes/_messages.html' %}

            <div class="login-form">

               <form method="POST" action="{% url 'accounts:login' %}">
                  {% csrf_token %}

                  <div class="form-messages">
                     {% for error in field.non_field_errors %}
                           <div class="alert alert-danger">{{ error }}</div>
                     {% endfor %}
                  </div>

                  {% for field in form %}
                     <div class="{{ field.name }}-messages">
                        {% for error in field.errors %}
                           <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                     </div>

                     {{ field.label }}:{% render_field field class='form-control toValidate' %}
                  {% endfor %}
                  
                  <button type="submit" class="btn btn-green">Entrar</button>
               </form>
               <a href="{% url 'accounts:register' %}">Registrar</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
