{% extends 'base.html' %}

{% block 'page-title' %}Login{% endblock %}

{% block 'content' %}
    <section>
        <h1>Login</h1>

        {% comment %} {% include 'includes/_messages.html' %} {% endcomment %}

        {% if not user.is_authenticated %}
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {% include 'accounts/includes/_form.html' %}
            <button type="submit">Logar</button>
        </form>
        {% else %}
        <p>
            Você está logado como {{ user.username }}
            <a href="{% url 'accounts:logout' %}">clique aqui</a> para deslogar.
        </p>
        {% endif %}

    </section>
{% endblock %}