{% extends "model-page.html" %}

{% load widget_tweaks %}

{% block 'content' %}
    <div class="container">
        <h1>Reserva</h1>
        <form method="POST" action="{% url 'core:reserva' %}">
            {% csrf_token %}

            <div class="form-messages">
                {% for error in field.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>

            {% for field in form %}
                <div class="{{ field.name }}-messages">
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                </div>

                {% render_field field class='form-control toValidate' placeholder=field.label %}
            {% endfor %}
            
            <button type="submit" class="btn btn-green">Reservar</button>
        </form>
    </div>
{% endblock %}