{% extends "model-page.html" %}

{% block content %}
    <br><br>
    <h1 class="text-center">Cardápio</h1>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div style="border-style: solid; width: 359px; height: 285px;">
                    <img src="{{ cardapio.photo.url }}" alt="Norway" width="350" height="263" style="margin-top: 10px;margin-left: 2px;">
                </div>
                <br>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <p><b>Nome: </b>{{ cardapio.nm_prato }}</p>
                <h6>Informações sobre o prato: </h6>
                <p><b>Categoria: </b>{{ cardapio.categoria }}</p>
                <p><b>Valor: </b>{{ cardapio.valor }}</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}