{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beira-Mar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static '../media/css/header.css' %}" >
    </head>
    <body>
        <div class="topnav" id="myTopnav">
          <a href="/" class="active"><i class="fa fa-fw fa-home"></i> Home</a>
          <a href="/reservas"><i class="far fa-calendar-check"></i> Reservas</a>
          <a href="/cardapio/all"><i class="fas fa-drumstick-bite"></i> Cardápios</a>
          <a href="#contato"><i class="fas fa-phone-volume"></i> Contatos</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
          <a style="position: relative; left: 60%; right: 12px; color: black;" href="/login/"><i class="far fa-share-square"></i> Entrar</a>
        </div>

        <div class="hero-image">
          <div class="hero-text">
            <h1 style="font-size:50px">Restaurante Beira-Mar</h1>
            <p>Delicias com gosto de casa</p>
            <button>Faça sua reserva</button>
          </div>
        </div>


        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
        }
        </script>
    </body>
</html>


