<div class="jumbotron footer text-center" style="background-color: black; color: white; font-size: 19px; margin-top: 75px; margin-bottom: 2px;" >
    <i class="fas fa-phone"></i><a name="contato">  Fale com a gente :) </a><br>
    <p>Telefones: 21 98674537281 ou 21 3555-5896</p>
    <p>Endereço: Rua Cruz e Souza, 1225 - Rio de Janeiro</p>
</div>

<div class="jumbotron footer text-center" style="margin-bottom:0; margin-right: 0;background-color: black; color: white;">
    <p>Restaurante Beira Mar</p>
    <p>Desenvolvido por Vitor Ferreira e Vitória Alves</p>
</div>
