{% comment %} {% load widget_tweaks %} {% endcomment %}

{% for error in form.non_field_errors %}
    <section>
        {{ error }}
        <button>
            <span>&times;</span>
        </button>
    </section>
{% endfor %}

{% for field in form %}
    <section>
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}{% comment %} {{ field|add_class:"form-control mb-2" }} {% endcomment %}
        {% for error in field.errors %}
            <div>
                {{ error }}
                <button>
                    <span>&times;</span>
                </button>
            </div>
        {% endfor %}
    </section>
{% endfor %}
